*{
        box-sizing: border-box;
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: auto;
}

nav {
    display: block;
    float: right;

}

nav li {
    float: left;
}

li a {
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: gray;
    font-family: 'Raleway', sans-serif;
    display: inline-block;

} 

.name{
    font-size: 30px;
    width: 300px;
    border: 0px solid #4aaaa5;
    background: gray ;
    color: white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 0px;
    padding: 25px;
}
 
.topPortion {
    background: #ffffff;
    margin: 0 auto;
    width: 960px;   
  }

header {
    background: white;
}

.box {
    clear:both;
}

.aboutMe {
    font-family: 'Raleway', sans-serif;
    color: #4aaaa5;
    margin: 5px;
    padding: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 35px;
    background: white;

}

img {
    vertical-align: baseline;
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    
}

p {
    display: inline;
}

.middleSection {
    clear: both;
    margin: auto;
    width: 960px;
    background: white;
}

.aboutMeP {
    margin: auto;
    width: 960px;
    background: white;
}

body {
    background-image: url("../images/circles-dark.png");
}

footer {
    clear: both;
    border-top: solid 2px #4aaaa5;
    margin-top: 30px;
    background: gray;
    padding: 20px;
    text-align: center;
    color: white;
}

hr {
    width: 95%;
    color:  lightgray;
    height: 3px;
    background: lightgray;
}

.row1 {
    width: 100%;

}



.col {
  
    margin-right: 10px;
    width: 274px;
    position: relative ;
    float: left;
    overflow: hidden;
    margin-top: 19px;
    
}

h3 {
    height: 50px;
    width: 100%;
    background: #4aaaa5;
    position: absolute;
    text-align: center;
    top: 100px;
    margin-top: 40px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 15px;
}

img {
    object-fit: cover;
}



form {
    margin: 25px 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
}

form label {
    display: block;
    margin: 15px 0;
    color: #aaa;
}

form input {
    width: 100%;
    height: 35px;
    font-size: 20px;
}

form textarea {
    width: 100%;
    height: 200px;
    font-size: 17px;
    resize: none;
}

#submit {
    width: 100px;
    margin-top: 100px;
    background-color: gray;
    color: white;
    border: none;
}



h1 {
    font-family: 'Raleway', sans-serif;
}

/*start*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #111;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;s
	align-items: center;
	justify-content: center;
	height: 100vh;
    letter-spacing: 1px;
    opacity: 60px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}
